[Unit]
Description=V Rising Server
After=network.target

[Service]
User=vrising
ExecStartPre=/usr/games/steamcmd +@sSteamCmdForcePlatformType windows +force_install_dir /home/vrising/ +login anonymous +app_update 582400 validate +quit
ExecStart=/bin/bash /home/vrising/start_server.sh
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
